.toolbar-btn {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 12pt;
  font-weight: bold;
  margin-left: 10px;
  margin: auto;
  margin-right: 10px;
}
.toolbar-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.btn-div {
  position: absolute;
  right: 20px;
}
.title-lbl {
  margin: auto;
  font-size: 17pt;
}
@media only screen and (max-width: 1300px) {
  .title-lbl {
    position: absolute;
    left: 10px;
  }
}
