<div *ngIf="loading" id="overlay">
  <mat-spinner></mat-spinner>
</div>
<div id="register-box">
  <div class="inside">
    <form [formGroup]="registerForm" (submit)="register()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('email')?.invalid &&
          (registerForm.get('email')?.touched ||
            registerForm.get('email')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('email')?.errors?.required">
          Molimo unesite email !
        </label>
        <label *ngIf="registerForm.get('email')?.errors?.email"
          >Email mora biti u formatu primjer@primjer.com !</label
        >
      </div>
      <mat-form-field>
        <mat-label>Lozinka</mat-label>
        <input matInput type="text" formControlName="password" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('password')?.invalid &&
          (registerForm.get('password')?.touched ||
            registerForm.get('password')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('password')?.errors?.required">
          Molimo unesite lozinku!
        </label>
        <label *ngIf="registerForm.get('password')?.errors?.minlength">
          Lozinka mora biti minimalno 5 karaktera !
        </label>
        <label *ngIf="registerForm.get('password')?.errors?.maxlength">
          Lozinka moze biti duga maksimalno 50 karaktera !
        </label>
      </div>
      <mat-form-field>
        <mat-label>Ponovite lozinku</mat-label>
        <input matInput type="text" formControlName="password2" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('password2')?.invalid &&
          (registerForm.get('password2')?.touched ||
            registerForm.get('password2')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('password2')?.errors?.required">
          Molimo ponovite lozinku !
        </label>
      </div>
      <mat-form-field>
        <mat-label>Ime</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('name')?.invalid &&
          (registerForm.get('name')?.touched || registerForm.get('name')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('name')?.errors?.required">
          Molimo unesite ime !
        </label>
        <label *ngIf="registerForm.get('name')?.errors?.minlength">
          Ime mora saržati minimalno 3 karaktera !
        </label>
        <label *ngIf="registerForm.get('name')?.errors?.maxlength">
          Ime može sadržati maksimalno 50 karaktera !
        </label>
      </div>
      <mat-form-field>
        <mat-label>Prezime</mat-label>
        <input matInput type="text" formControlName="surname" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('surname')?.invalid &&
          (registerForm.get('surname')?.touched ||
            registerForm.get('surname')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('surname')?.errors?.required">
          Molimo unesite prezime !
        </label>
        <label *ngIf="registerForm.get('surname')?.errors?.minlength">
          Prezime mora sadržati minimalno 3 karaktera !
        </label>
        <label *ngIf="registerForm.get('surname')?.errors?.maxlength">
          Prezime može sadržati maksimalno 50 karaktera !
        </label>
      </div>
      <mat-form-field>
        <mat-label>Broj telefona</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>
      <div
        class="error-div"
        *ngIf="
          registerForm.get('phone')?.invalid &&
          (registerForm.get('phone')?.touched ||
            registerForm.get('phone')?.dirty)
        "
      >
        <label *ngIf="registerForm.get('phone')?.errors?.required">
          Molimo unesite broj telefona
        </label>
        <label *ngIf="registerForm.get('phone')?.errors?.pattern">
          Broj telefona mora biti u formatu +XXXYYYZZZ
        </label>
      </div>
      <input type="submit" name="signup_submit" value="Registruj se" />
      <input
        type="button"
        class="btn btn-info"
        name="login-btn"
        value="Prijavi se"
        (click)="goToLogin()"
      />
    </form>
  </div>
</div>
